@font-face {
    font-family: 'NanumSquareAcr';
    src: url("../assets/fonts/NanumSquare_acR.woff2") format("woff2"),
         url("../assets/fonts/NanumSquare_acR.woff") format("woff"),
         url("../assets/fonts/NanumSquare_acR.ttf") format("truetype");
         font-display: block;
}