@charset "utf-8";
@import url("./reset.scss");

@import url("./font.scss");


:root {
    --red: #ea7664;
    --black: #544f4f;
    --brown: #89757a;
    --beige: #f6f5f5;
}

body {
    font-family: 'NanumSquareAcr';
}


button {
    /*Reset's every elements apperance*/
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    font-family: inherit;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}


a {
    text-decoration: none;
    color: black;
}